<div class="parent">
  <div class="parent-content">
    <h3>我是父组件1</h3>
    <input type="text" placeholder="往子组件中传入的值" [(ngModel)]="sendToChild">
    <h3>子组件传过来的值：{{requestData}}</h3>
    <button (click)="useChildFunction()">调用子组件的方法1</button>
    <button (click)="children1Component.childFunction(2)">调用子组件的方法2</button>
    <input #inputValue type="text" name="" id="" placeholder="模板引用变量"
      (blur)="onBlur(inputValue.value)">通过模板变量拿到的值：{{tempValue}}
    <br>
    <br>
    <h3>非父子组件通信发送</h3>
    <button (click)="sent()">发送消息</button>
  </div>

  <!-- 
    #xxx：这种方式的称为模板引用变量，相对来说模板引用变量的似乎很有用，个人理解为相当于document.getElementById，
    因此定义了模板引用变量之后，就拿到了这个所在对象，也就这个调用到了这个对象的所有属性和方法。在定义了模板引用变量
    之后，在这个变量所在的HTML页面的任何位置都能使用这个变量（在模板中书写的DOM、子组件和指令中定义了这个变量，
    那它指向的就是这个DOM、子组件和指令所在的对象），参考“调用子组件的方法2”中click的写法
  -->
  <zh-children1 class="parent-children" #children1Component [requestData]="sendToChild"
    (sendToParent)="getOutput($event)">
    <!-- 
      选择器之间是可以写HTML代码片段的，这些片段将会显示在这个组件（outcomponent）的模板中，
      前提之一是这个组件的模板中有调用了ng-content指令，一般的关系是从父组件到子组件，这里
      还可以进行插值绑定获取其他的数据的绑定等，所绑定的值是父组件的值
    -->
    <div class="header children-content">这是头：这个是在父组件中的写的代码显示到了子组件中</div>
    <div>这个是在父组件中的写的代码显示到了子组件中</div>
    <div class="footer children-content">这是脚：这个是在父组件中的写的代码显示到了子组件中</div>
  </zh-children1>

</div>