.router-main {
  border: 1px solid green;
  height: 100%;
  overflow: auto;

  h3 {
    color: red;
  }

  .router-header {
    display: flex;
    flex-wrap: wrap;

    a {
      margin: 0 6px 6px 0;
    }
  }

  .router-content {
    display: flex;

    .router-guard {
      border: 1px solid purple;
      flex: 3;
      height: 350px;
    }

    .router-child {
      flex: 7;
    }
  }
}
