<div class="main-container-page">
  <div class="container-lev1  main-container-left">
    <ul class="nav-container">
      <li class="container-lev2 nav-item">
        <a routerLink="./common-comp" routerLinkActive="active">通用组件</a>
      </li>
      <li class="container-lev2 nav-item">
        <a (click)="showDialog()" routerLinkActive="active">弹出框alert</a>
      </li>
      <li class="container-lev2 nav-item">
        <a routerLink="./zh-map" routerLinkActive="active">地图</a>
      </li>
    </ul>
  </div>
  <div class="container-lev1 main-container-right">
    <router-outlet></router-outlet>
  </div>
</div>