/* You can add global styles to this file, and also import other style files */
@import './assets/css/base.scss';
@import './assets/css/theme.scss';
@import './assets/zh-font//style.css';


.index-page {
  height: 100%;
  min-height: 100vh;
  background-image: url('assets/img/古风1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  // background-position: 25%;
}
