<div>
    <p>提示：使用-webkit-box-decoration-break在行内元素上生效，块元素无效</p>
    <hr>
    <h2 class="gradient-block">
        实现渐变文字效果，思路是：通过background-color为linear-gradient渐变色
        background-clip为text，将背景文字已文本方式裁切，
        然后通过text-fill-color为transparent，让背景色显示，从而达到目的
    </h2>
    <hr>
    <span class="gradient-inline-default">
        实现渐变文字效果，思路是：通过background-color为linear-gradient渐变色
        background-clip为text，将背景文字已文本方式裁切，
        然后通过text-fill-color为transparent，让背景色显示，从而达到目的
    </span>
    <hr>
    <span class="gradient-inline-clone">
        实现渐变文字效果，思路是：通过background-color为linear-gradient渐变色
        background-clip为text，将背景文字已文本方式裁切，
        然后通过text-fill-color为transparent，让背景色显示，从而达到目的
    </span>
    <hr>
    <span class="gradient-inline-bgc">
        实现渐变文字效果，思路是：通过background-color为linear-gradient渐变色
        background-clip为text，将背景文字已文本方式裁切，
        然后通过text-fill-color为transparent，让背景色显示，从而达到目的
    </span>
</div>