$light-body-bgc:#f3f3f3;
$light-body-text:#000;

$light-container-lev1-bgc:rgba(255, 255, 255, .47);
$light-container-lev1-text:#000;
$light-container-lev1-border:null;

$light-container-lev2-bgc:#ffeb3bba;
$light-container-lev2-text:#000;
$light-container-lev2-border:null;

$light-container-lev3-bgc:#FFF;
$light-container-lev3-text:#000;
$light-container-lev3-border:null;

$light-modal-bgc:#56565699 !default;
$light-modal-border:null !default;
$light-modal-container-bgc:#183042 !default;
$light-modal-container-text:#fff !default;
$light-modal-container-border:null !default;

$light-button-bgc:#177DDC !default;
$light-button-text:#fff !default;
$light-button-border:null !default;
$light-button-failed-bgc:#2a3f59 !default;
$light-button-failed-text:#fff !default;
$light-button-failed-border:null !default;

[zh-theme="light"] {
  background-color: $light-body-bgc;
  color: $light-body-text;

  .container-lev1 {
    background-color: $light-container-lev1-bgc;
    color: $light-container-lev1-text;
    border-color: $light-container-lev1-border;
    //  background: linear-gradient(#99f, #f99);
  }

  .container-lev2 {
    background-color: $light-container-lev2-bgc;
    color: $light-container-lev2-text;
    border-color: $light-container-lev2-border;
  }

  .container-lev3 {
    background-color: $light-container-lev3-bgc;
    color: $light-container-lev3-text;
    border-color: $light-container-lev3-border;
  }

  // 模态框
  .theme-modal {
    background-color: $light-modal-bgc;
    border-color: $light-modal-border;
  }

  // 模态框主体
  .theme-modal-container {
    background-color: $light-modal-container-bgc;
    color: $light-modal-container-text;
    border-color: $light-modal-container-border;
  }

  // 按钮色
  .theme-button {
    background-color: $light-button-bgc;
    color: $light-button-text;
    border-color: $light-button-border;
    outline: none;
  }

  // 按钮色-失败-取消
  .theme-button-failed {
    background-color: $light-button-failed-bgc;
    color: $light-button-failed-text;
    border-color: $light-button-failed-border;
    outline: none;
  }
}
