.main-header {
  min-height: 120px;
  position: relative;
  height: 160px;

}

.nav-container {
  display: flex;
  padding-left: 10%;

  .nav-item {
    margin: 6px 12px;
    border-radius: 4px;
  }

  a {
    padding: 6px 12px;
    display: inline-block;
    color: inherit;
    width: 100%;
  }

  .active {
    box-shadow: 0 0 4px 1px #bb3ff9 inset;
    border-radius: 4px;
  }
}

.main-footer {
  height: 100px;
  border: 1px solid #ccc;

  .footer-content {
    width: 80%;
    margin: 0 auto;
  }
}
