<div class="loading-page">
  <div class="inner">
    <div class="load-container load1">
      <div class="loader">Loading...</div>
    </div>
    <div class="load-container load2">
      <div class="loader">Loading...</div>
    </div>
    <div class="load-container load3">
      <div class="loader">Loading...</div>
    </div>
    <div class="load-container load4">
      <div class="loader">Loading...</div>
    </div>
    <div class="load-container load5">
      <div class="loader">Loading...</div>
    </div>
    <div class="load-container load6">
      <div class="loader">Loading...</div>
    </div>
    <div class="load-container load7">
      <div class="loader">Loading...</div>
    </div>
    <div class="load-container load8">
      <div class="loader">Loading...</div>
    </div>
  </div>
</div>