.main-container-page {
  width: 80%;
  // height: calc(100% - 284px);
  min-width: 850px;
  min-height: 800px;
  margin: 12px auto;
  display: flex;

  .main-container-left {
    flex: 3;
    min-width: 190px;
    margin-right: 16px;
    max-width: 230px;
    padding: 0 12px;

    .nav-container {
      height: 100%;
      overflow: auto;

      .nav-item {
        height: 36px;
        line-height: 24px;
        margin-top: 6px;
        border-radius: 4px;

        .active {
          box-shadow: 0 0 4px 1px #bb3ff9 inset;
          border-radius: 4px;
        }

        a {
          padding: 6px;
          display: inline-block;
          color: inherit;
          width: 100%;
        }
      }
    }
  }

  .main-container-right {
    flex: 7;
    padding: 12px;
  }
}
